<div class="control-container">
  <!-- Loading and Error States -->
  <div *ngIf="isLoading" class="loading-indicator">
    <span class="loader"></span>
    Cargando citas...
  </div>

  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>


  <div class="control-header">
    <h2>Control de Citas</h2>
    <div class="control-filters">
      <div class="filter-item">
        <label for="date">Fecha:</label>
        <input
          type="date"
          id="date"
          [value]="selectedDate.toISOString().split('T')[0]"
          (change)="onDateChange($event)">
      </div>
      <div class="filter-item">
        <label for="status">Estado:</label>
        <select id="status" [(ngModel)]="filterStatus">
          <option value="todos">Todos</option>
          <option value="PENDING">Pendientes</option>
          <option value="COMPLETED">Completadas</option>
          <option value="CANCELLED">Canceladas</option>
        </select>
      </div>
    </div>
  </div>

  <div class="appointments-list">
    <div class="appointment-card" *ngFor="let appointment of getFilteredAppointments()">
      <div class="appointment-header">
        <div class="time-badge">{{ appointment.time }}</div>
        <div class="status-badge" [class.status-pendiente]="appointment.status === 'pendiente'"
          [class.status-completada]="appointment.status === 'completada'"
          [class.status-cancelada]="appointment.status === 'cancelada'">
          {{ appointment.status }}
        </div>
      </div>

      <div class="appointment-details">
        <div class="patient-info">
          <h3>{{ appointment.patientName }}</h3>
          <p>{{ appointment.time }}</p>
          <p class="room">{{ appointment.date}}</p>
        </div>
        <p class="description">{{ appointment.description }}</p>
      </div>

      <div class="status-controls">
        <button
          class="status-btn pending"
          [class.active]="appointment.status === 'PENDING'"
          (click)="changeStatus(appointment,AppointmentStatus.PENDING)">
          Pendiente
        </button>
        <button
          class="status-btn completed"
          [class.active]="appointment.status === 'COMPLETED'"
          (click)="changeStatus(appointment, AppointmentStatus.COMPLETED)">
          Completada
        </button>
        <button
          class="status-btn cancelled"
          [class.active]="appointment.status === 'CANCELLED'"
          (click)="changeStatus(appointment, AppointmentStatus.CANCELLED)">
          Cancelada
        </button>
      </div>
    </div>

    <div class="no-appointments" *ngIf="getFilteredAppointments().length === 0">
      No hay citas para mostrar
    </div>
  </div>
</div>
